* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

section {
    width: 100%;
    height: 3400px;
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

#sec_wrap {
    width: 1200px;
    height: 3400px;
    border: 1px solid red;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3 {
    padding: 30px 0 0 10px;
}

#load {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ddd;
}

#load>ul {
    width: 430px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#load>ul>li {
    font-size: 13px;
    color: #666
}

/*sub*/
#sub_abox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_box {
    width: 400px;
    height: 450px;
    float: left;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 4px #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub_box img {
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #eee;
    margin: 30px 0 0 0px;
}

.sub_box h3 {
    text-align: left;
    width: 500px;
}

table {
    width: 500px;
    border-top: 3px solid #e9e9e9;
    float: right;
    border-bottom: 1px solid #e9e9e9;
    color: #666;
}

td {
    padding: 6px 15px;
    text-align: left;
}

td:first-child {
    width: 100px;
}

button {
    margin: 3px;
    cursor: pointer;
}

button:first-child {
    background-color: tomato;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

button:nth-child(2) {
    background-color: #a2abb0;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

button:nth-child(3) {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #666;
    border: none;
    border: 1px solid #ddd;
}

button:nth-child(4) {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #666;
    border: none;
    border: 1px solid #ddd;
}

#kind {    width: 95%;
    height: 150px;
    float: left;}

.setitle {    font-size: 20px;
    color: #666;
    text-align: left;
    line-height: 150%;
    border-bottom: 1px solid #666;}
#kind>.kilist {width:100%; height: 68%; padding: 0 30px}
#kind>.kilist>ul {width:50%; height: 68%; display: flex; align-items: center;}
#kind>.kilist>ul>li {font-size: 15px; margin: 0 20px 0 0; color: #999}
#kind>.kilist>ul>li:hover a{text-decoration: underline}
#kind>.kilist>ul>li a {font-size: 13px}
#kind>.kilist>ul>li:last-child a{font-weight: bold}


.contextbox {
    width: 95%;
    height: 200px;
    float: left;
}

.contextbox h6 {
    font-size: 20px;
    color: #666;
    text-align: left;
    line-height: 150%;
    padding: 30px 0px 0 20px;
    border-bottom: 1px solid #666;
}

.contextbox p {
    font-size: 15px;
    color: #666;
    text-align: left;
    line-height: 150%;
}

.contextbox span {
    font-size: 12px;
    color: black;
    float: right;
    padding: 20px;
    margin-right: 30px;
}

#tmpBox {
    width: 95%;
    height: 1700px;
    float: left;
    color: #666
}

#tmpBox h6{
    border-bottom: 1px solid #666;
}

#recommend {width: 100%; height: auto; margin: 0 0 30px}
.rebooks {width: 100%; height: 242px; margin: 0 0 20px}
.rebooks>.retitle {width: 100%; height: 32px; border-bottom: 1px solid #ccc;}
.rebooks>.retitle>h5 {font-size: 15px; line-height: 32px; color:#555}
.rebooks>.retitle>h5::before {content: "▪"}
.rebooks>.recon {width: 100%; height: 230px; margin: 20px 0 0; position: relative; overflow: hidden}
.rebooks>.recon>span {position: absolute; top:40%; transform: translateY(-50%); font-size: 35px; color: #999; padding: 4% 0; cursor: pointer}
.rebooks>.recon>.reprev {left:0}
.rebooks>.recon>.renext {right:0}
.rebooks>.recon>ul {width: 1950px; height: 200px; display: flex; align-items: center; }
.rebooks>.recon>ul>li {width:150px; height: 100%; margin: 0 35px; cursor: pointer}
.rebooks>.recon>ul>li:hover p {text-decoration: underline; color:#000}
.rebooks>.recon>ul>li>.rebook {width: 80%; height: 150px; background-color: red; margin: 0 auto;}
.rebooks>.recon>ul>li>.rebook>img {width: 100%; height: 100%}
.rebooks>.recon>ul>li>p {font-size: 12px; color:#666; margin: 10px 0 0 0; text-align: center}

#look {width: 100%; height: auto; margin: 0 0 30px}
#member {width: 100%; height: auto; margin: 0 0 30px}

.seprev {left:0}
.senext {right:0}
